
/* PAGE-STYLE__BUTTON1
====================== */
.purple .menu-item__link {
    color: #3C160E;
}
.yellow .header {
font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    color: #3C160E;
}


.yellow .main-content__item-text{
    color:#4424D6;
font-family: 'Cabin Sketch', cursive;
}
.yellow .bottom-button__item {
   background-color: #FDED2A;
font-family: 'Cabin Sketch', cursive;

}
.yellow .bottom-button__item:hover {
   background-color: #68B332;
   color:#FDED2A;
}
.yellow .footer {
    background-color:#FDFDDD;
}

.yellow .page-style__button1::after {
 content: "Back to initial style";
}

/* PAGE-STYLE__BUTTON2
====================== */

.purple .bottom-button__item{
    background-color: #881647;
    font-size: 1em;
    color:white;
}
.purple .bottom-button__item:hover{
    background-color: #EA80AE;
    color:#881647;
}
.purple .header {
    color: #34091C;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
}
.main-content__item.fontPurple {
    /* font-family:Cormorant Garamond, serif; */
    font-size: 1.2em;
      color: #34091C;
}


/* PAGE-STYLE__BUTTON3
====================== */

.orange .header {
    font-family: 'Princess Sofia', cursive;
    font-size: 2.5em;
    color: #26490D;
}
.orange .main-content__item-text {
    color:#FB9902;
}
.orange .bottom-button__item {
   background-color: #66B032;
}
.orange .bottom-button__item:hover {
   background-color: #FB9902;
   color:#213C0E;
}
.orange .menu-item__link {
    color: #FB9902;
}
.orange .bar1, .orange .bar2, .orange .bar3 {
    background-color:#FB9902;
}