
/* PAGE-STYLE__BUTTON1
====================== */
.yellow {
    background-color:rgba(243, 184, 204, 0.12);
           /* Firefox */
    -moz-transition: all 0.1s ease-in;
    /* WebKit */
    -webkit-transition: all 0.1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;

}
.purple .menu-item__link {
    color: #3C160E;
}
.yellow .header {
font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    color: #3C160E;
}


.yellow .main-content__item-text{
    color:#4424D6;
font-family: 'Cabin Sketch', cursive;
}
.yellow .bottom-button__item {
   background-color: #FDED2A;
font-family: 'Cabin Sketch', cursive;

}
.yellow .bottom-button__item:hover {
   background-color: rgb(255, 225, 30);
   color:black;
}
.yellow .footer {
    background-color:#FDFDDD;
}

.yellow .page-style__button1::after {
 content: "Back to initial style";
}

/* PAGE-STYLE__BUTTON2
====================== */

.purple .bottom-button__item{
    background-color: #ff82b8;
    font-size: 1em;
    color:white;
}
.purple .bottom-button__item:hover{
    background-color:#EA80AE;
    color:#881647;
}
.purple .header {
    color: #34091C;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
}
.main-content__item.fontPurple {
    /* font-family:Cormorant Garamond, serif; */
    font-size: 1.2em;
      color: #34091C;
}


/* PAGE-STYLE__BUTTON3
====================== */

.orange {
    background-color:rgba(255, 235, 205, 0.3);
        /* Firefox */
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;

}
.orange .header {
    font-family: 'Princess Sofia', cursive;
    font-size: 2.5em;
    color: #26490D;
}
.orange .main-content__item-text {
    color: #e24a1a;

}
.orange .bottom-button__item {
   background-color: #ffad34;

}
.orange .bottom-button__item:hover {
   background-color:rgb(249, 173, 48) ;
}
.orange .menu-item__link {
    color: #e24a1a;
}
.orange .bar1, .orange .bar2, .orange .bar3 {
    background-color:#e24a1a;
}