body,
html {
  margin:0;
  padding: 2%;
  padding-bottom: 0;
  margin-bottom: 0;
 }


h5 {
  font-family: "Cinzel", serif;
  text-align: center;
  letter-spacing: 1px; }

.containericon {
    display: block;
    cursor: pointer;
}

.menu-icons {
  display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#closeButton {
    position: absolute;
    right: 31px;
    top: 2px;
    font-size: 50px;
    color: rebeccapurple;;
    cursor: pointer;
    
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  letter-spacing: 2; }

p {
  font-family: 'Lora', serif; }


/* Slideshow container */
#slideshow-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto; }
  #slideshow-container .slideshow-image-wrapper {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center 25%; }
  #slideshow-container .slideshow-image {
    display: flex;
    height: 350px;
    margin: 0 auto; }

.main-content-container {
  display: inline; 
}
 .main-content-item {
    width: 100%;
    font-family: "Cinzel", serif; }
  .main-content-container img {
    width: 50%;
    clear: both; 
  }
  .button {
    text-transform: uppercase;
  }
  .button:focus {
    outline-style: none;
    font-weight: bold;
  
  }
 

/* MAX WIDTH 320px */
/* =============== */


@media (max-width: 320px) {
  h1 {
    margin-top: 55px;
  }
  .containericon{
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
  }
  .container {
    display: none;
    margin-left: 0;
   }
  .menu-item {
      text-align: center;
      width: 100%;
      padding-bottom: 5px;
      padding-top: 5px; 
    }
  .main-content-item {
    margin: 0;

  }
    .main-content-item img {
      width: 100%;
      clear: both; }
  /*Flex buttons*/
  .bottom-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  }

.button {
      padding: 5%;
      background-color: #c0fc64;
    line-height: 1;
    border: 1px solid #3f6a07;
    margin: 2px 0;

    }


/* MAX WIDTH 414px */
/* =============== */


@media only screen and (max-width : 414px) and (min-width : 321px) {
  .main-content-container img {
    width: 100%;
  }
  .container {
    display: none;
    margin: 0;
    text-align: center;
  }
  .menu-item {
    padding: 10px;
    color: red;
  }
  .button {
    width: 100%;
  }
    }


/* MAX WIDTH 786px */
/* =============== */



@media only screen and (max-width: 768px) and (min-width: 415px)  {
  body {
    padding: 5px;
  
  }
  html {
    padding: 0;
  }
  .containericon {
    display: none;
  }
  .container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    z-index: 1;
    top: 0;
    left: -100%;
    background-color:pink;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
   }

   .main-content-container img {
         width: 334px;
   }
   .menu-icons {
     display: block;
     text-align: center;
     padding: 15px;
     background-color: lavenderblush;
   }
  .menu-icons p{
    text-transform: uppercase;
  }
   .menu-item {
   padding: 15px;
    font-size: 22px;
    text-transform: uppercase;
   }
   .menu-item a {
     text-decoration: none;
     color: rebeccapurple;
    }
    .menu-item a:hover {
      color:white;
    }
.button {
  width: 100%;
  font-size: 15px;
  padding: 15px;
}
}