@import url("changing-style-onclick.css");

body,
html {
  margin:0;
  padding: 2%;
  padding-bottom: 0;
  margin-bottom: 0;
 }
 .page-style{
    display: flex;
    width: 100%;
  }
 .page-style button{
  flex-grow: 1;
  width:30%;
  height: 35px;
  float: left;
  margin: 3px;
 border-radius: 5%;
 }

.page-style__button1{
  background-color: yellow;
}
.page-style__button2 {
  background-color: #3B0D49;
  color:white;
;
}
.page-style__button3 {
  background-color:orange;
  color:green;
}

.main-content__item-text {
  text-align:center;
  letter-spacing:1px;
  font-family: Lora;
  text-transform: uppercase;
  color: darkred;
}
.main-content__item-text-red {
  color:red !important;
  margin-top: 22%;
}

.container-bars {
    display: block;
    cursor: pointer;
}
.menu-item__link {
    color: #941E3A;
    letter-spacing: 2px;
    font-family: Lora;
    text-transform: capitalize;
    font-size: 20px;
    text-decoration: none;
}

/* X-SHAPED ICON
============= */
.menu-section {
  display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #3D0B17;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/* <x-shaped icon/>*/

#closeButton {
    position: absolute;
    right: 31px;
    top: 2px;
    font-size: 50px;
    color: rebeccapurple;;
    cursor: pointer; 
}
#top-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border-bottom: 1px solid #3D0B17;
}

.header {
  font-family:Lora, cursive;
  text-align: center;
  letter-spacing: 2;
  color:#9F1434; 
}

/* Slideshow container */
#slideshow-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto; 
}
  #slideshow-container .slideshow-image-wrapper {
  background-size: 100%;
  background-repeat: no-repeat;
  }
  #slideshow-container .slideshow-image {
    display: flex;
    height: 350px;
    margin: 0 auto;
  }
.main-content__container {
  display: inline; 
}
 .main-content__item {
    width: 100%;
    font-family: Lora, serif; }
  .main-content__item-img{
    width: 50%;
    clear: both; 
  }
  .bottom-button__item {
    text-transform: uppercase;
   
  }
  .bottom-button__item:focus {
    outline-style: none;
    font-weight: bold;
  
  }
.footer {
  height:60px;
  background-color:azure;
  margin-top:5%;
}
.footer-text {
  text-align:center;
  margin:0 auto;
  line-height:4;
}
/* MAX WIDTH 320px */
/* =============== */


@media (max-width: 320px) {

  .container-bars{
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
  }
  #top-menu {
    display: none;
    margin-left: 0;
    margin-top: 15%;
   }
   #closeButton {
     display: none;
   }
  .menu-item {
      text-align: center;
      width: 100%;
      padding-bottom: 5px;
      padding-top: 5px; 
    }
  .main-content__item {
    margin: 0;

  }
    .main-content__item img {
      width: 100%;
      clear: both;
    }
  /*Flex buttons*/
  .bottom-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  }

.bottom-button__item {
    padding: 5%;
    background-color: #F38CA4;
        border: none;
    margin: 4px 0;
    box-shadow: 0px 0 2px 0px;
    color: #3D0B17;
    }
  .bottom-button__item:hover {
    background-color: #D0113D;
    color: white;
  }


/* MAX WIDTH 414px */
/* =============== */


@media only screen and (max-width : 414px) and (min-width : 321px) {
  .main-content__container img {
    width: 100%;
  }
  #top-menu {
    display: none;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;

  }
  #closeButton {
    display: none;
  }
  .menu-item {
    padding: 10px;
    color: red;
  }
  .bottom-button__item {
    width: 100%;
  }
    }


/* MAX WIDTH 786px */
/* =============== */



@media only screen and (max-width: 768px) and (min-width: 415px)  {
  body {
    padding: 5px;
  
  }
  html {
    padding: 0;
  }
  .container-bars {
    display: none;
  }
  #top-menu {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    z-index: 1;
    top: 0;
    left: -100%;
    background-color:pink;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
   }

   .main-content__container img {
    width: 50%;
    float: left;
    padding: 0 15px 0 0;
   }

   #bottom-buttons__header{
     clear: both;
     margin:0;
     padding: 15px;
   }
   .menu-section {
     display: block;
     text-align: center;
     padding: 15px;
     background-color: lavenderblush;
   }
  .menu-section__text{
    text-transform: uppercase;
    cursor: pointer;
  }
   .menu-item {
   padding: 15px;
    font-size: 22px;
    text-transform: uppercase;
   }
   .menu-item__link {
     text-decoration: none;
    }
    .menu-item__link:hover {
      color:white;
    }
.bottom-button__item {
  width: 100%;
  font-size: 15px;
  padding: 15px;
}
#slideshow-container .slideshow-image-wrapper {
  background-position-y: 50%;
  background-repeat: no-repeat;
}
}

/* 767PX - 1025PX
=============== */
@media only screen and (max-width: 1025px) and (min-width: 767px)  {
  .container-bars {
    display: none;
  }
  #closeButton{
    display: none;
  }
  #top-menu {
    display: flex;
  }
  .menu-item {
    flex-grow: 1;
    text-align: center;
    font-family:Lora, serif;
  }
}